
#title{
    background-color: rgba(248, 250, 249, 0.979);
    font-family: black, 'Franklin Gothic Medium', sans-serif;
    font-size: 150%;
    margin: 0px auto;
    border: 2px rgba(18, 21, 66, 0.979);
    text-align: center; 
    width: 45%;
    height: 60px;
}

#title2{
    background-color: rgba(60, 123, 196, 0.979);
    font-family: black,'Franklin Gothic Medium', sans-serif, bold;
    font-size: 120%;
    margin: 0px auto;
    border: 2px rgba(2, 4, 32, 0.979);
    text-align: center; 
    width: 35%;
    height: 50px;
}

body{
    background-color: rgba(18, 21, 66, 0.979);
    font-family: black,'Times New Roman', serif;
    text-align: center;
}

#name-refugee{
    background-color: rgba(248, 250, 249, 0.979);
    font-family: black,'Franklin Gothic Medium', sans-serif;
    font-size:100%;
    margin: 0px auto;
    border: 2px rgba(0, 2, 24, 0.979);
    text-align: center; 
    width: 20%;
    height: 30px;
}

#clave-refugee{
    background-color: rgba(248, 250, 249, 0.979);
    font-family: black,'Franklin Gothic Medium', sans-serif;
    font-size:100%;
    margin: 0px auto;
    border: 2px rgba(0, 2, 24, 0.979);
    text-align: center; 
    width: 20%;
    height: 30px;
}

#offset{
    background-color: rgba(248, 250, 249, 0.979);
    font-family:'Franklin Gothic Medium', sans-serif, bold;
    margin: 0px auto;
    border: 5px rgba(0, 2, 24, 0.979);
    text-align: center; 
    width: 4%;
    height: 25px;
}

#code{
    background-color: rgba(91, 161, 10, 0.979);
    font-family:'Franklin Gothic Medium', sans-serif,bold;
    font-size: 120%;
    margin: 0px auto;
    border: 5px rgba(0, 2, 24, 0.979);
    text-align: center; 
    width: 10%;
    height: 25px;
}

#decode{
    background-color: rgba(230, 70, 42, 0.979);
    font-family:'Franklin Gothic Medium', sans-serif, bold;
    font-size: 120%;
    margin: 0px auto;
    border: 5px rgba(0, 2, 24, 0.979);
    text-align: center; 
    width: 10%;
    height: 25px;
}

label{
    font-family:'Franklin Gothic Medium', sans-serif, bold;
    font-size: 120%;   
}

#result-refugee{
    background-color: rgba(163, 170, 167, 0.979);
    font-family: white,'Franklin Gothic Medium', sans-serif, bold;
    font-size: 200%;
    text-align: center;
}