body{
    background-color: rgba(24, 66, 50, 0.979);
    font-family: black,'Times New Roman', serif;
    text-align: center;
}
    
#result-refugee{
    font-family: rgb(248, 245, 245), 'Times New Roman', serif;
    text-align: center;
}